@font-face {
  font-family: "Verdana Regular";
  src: url(../assets/verdana-font-family/verdana.ttf);
}

@font-face {
  font-family: "Verdana Bold";
  src: url(../assets/verdana-font-family/verdana-bold.ttf);
}

:root {
  --font-work-sans: "Work Sans", sans-serif;
  --background: #ffffff;
  --foreground: #202020;
  --primary: #0071bc;
  --secondary: #ece3ae;
  --accent: #8652e1;
  --light-blue: #4d90fe;
  --blue: #357ae8;
  --off-white: #f0f0f0;

  font-size: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

button {
  border: none;
  outline: none;
}

button:focus-visible {
  outline: 1px solid black;
}

body {
  font-family: "Verdana Regular", sans-serif;
  background-color: var(--background);
  color: var(--foreground);
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.0313rem;
}

a {
  color: inherit;
  transition: all 0.2ms linear;
}

button {
  cursor: pointer;
  transition: all 0.5ms linear;
}

audio {
  width: 100%;
  max-width: 25rem;
  margin-top: 1rem;
}

audio::-webkit-media-controls-panel {
  background-color: #c0bcbc;
  border-radius: 2.5rem;
  padding: 0.5rem 0.6rem;
}

button:hover {
  scale: 1.06;
  opacity: 0.9;
}

a:hover {
  opacity: 0.9;
}

.hide {
  display: none;
}

/* HEADER SECTION */

.top-banner {
  display: none;
}

.main-header {
  display: flex;
  justify-content: space-between;
  background-color: var(--off-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  padding: 1rem;
  align-items: center;
  /* position: sticky;
  top: 0; */
  width: 100%;
  z-index: 100;
}

/* Logo */
.main-header__logo {
  width: 6rem;
  display: inline-block;

  img {
    object-fit: contain;
    width: 100%;
  }
}

/* NAVIGATION */

.main-header__open-menu {
  display: inline-block;
  outline: none;
  border: none;
  height: fit-content;
  padding: 0.1rem 0.3rem;
  border-radius: 0.5rem;
  z-index: 12;

  img {
    width: 2.3rem;
    object-fit: contain;
  }
}

.main-header__open-menu:focus {
  outline: 1px solid var(--primary);
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: var(--primary);
  opacity: 0.2;
  z-index: 10;
}

.main-nav {
  font-family: var(--font-work-sans);
  text-transform: capitalize;
  line-height: 1.5rem;
  letter-spacing: 0.0313rem;
  font-weight: 600;
  text-transform: uppercase;
  position: fixed;
  top: 6rem;
  right: 1rem;
  width: 60%;
  max-width: 15rem;
  z-index: 10000;
  background-color: var(--primary);
  color: #fff;
  padding: 2rem;
  border-radius: 10% 50%;
  overflow: hidden;
}

.main-nav.hidden {
  display: none;
}

.main-nav ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 2rem;
}

.main-nav ul li:last-child {
  color: var(--background);
  background-color: var(--primary);
  padding: 0.7rem 2rem;
  border-radius: 0.5rem;
  transition: all 0.4s ease-in-out;

  &:hover {
    --primary: #00356f;
    scale: 1.08;
    translate: 0 -3px;
    color: #d9f3ff;
  }
}

/* COMMON AUDIO FILES SECTION */

.audio__group {
  margin-block: 3rem;

  h3 {
    text-transform: capitalize;
    text-align: center;
    font-size: 1.5rem;
  }
}

.audio__group ul,
.audio__list {
  display: grid;
  gap: 2.3rem;
  margin-block: 2rem;
}

.audio__card {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background-color: var(--secondary);
  padding: 1.75rem 1rem 2.5rem;
  border-radius: 0.75rem;
  margin-inline: auto;
  width: 90%;
  text-align: center;

  figcaption {
    line-height: 1.5194rem;
    font-size: 1.25rem;
    margin-bottom: 1rem;
    text-transform: capitalize;
  }

  &:hover {
    background-color: #dee3ed;
  }
}

/* FOOTER SECTION */

.main__footer {
  --font-size: 1rem;

  background-color: #ede18d;
  padding: 3.75rem 1rem;
  font-family: var(--font-work-sans);
  font-size: var(--font-size);
}

.footer__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  gap: 1rem;

  .logo {
    width: 7.5rem;
  }
}

.footer__menu-contact {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}

.app-download {
  transition: border 0.2s linear, scale 100ms ease-in-out;

  img {
    width: 100%;
    max-width: 12.5rem;
  }

  &:hover {
    scale: 1.1;

    img {
      border: 1.2px solid var(--primary);
      border-radius: 1.2rem;
    }
  }
}

.footer__subscribe {
  text-align: center;

  h5 {
    font-size: 1.2rem;
    font-weight: 600;
    color: #000;
    margin-bottom: 0.7rem;
  }

  #subscribe {
    width: 100%;
    display: flex;
    gap: 0.3rem;

    input {
      width: 100%;
      padding: 0.8rem;
      border-radius: 0.5rem;
      border: 1px solid #759aac;
    }

    button {
      background-color: var(--primary);
      border-radius: 0.5rem;
      color: #fff;
      text-transform: uppercase;
      padding: 1rem 0.75rem;
    }
  }
}

.info-wrap {
  display: grid;
  gap: 1rem;

  a:hover {
    color: var(--primary);
  }
}

.menu-first,
.menu-second {
  ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  h5 {
    font-weight: 600;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
  }
}

.menu-second li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.menu-second img {
  width: 1rem;
}

.menu-first li {
  text-transform: capitalize;
}

.footer__bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
  gap: 0.6rem;
}

.footer__bottom-socials {
  border-bottom: 1px solid #b7b5b5;
  padding: 0.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1.1rem;

  img {
    width: 2rem;
  }

  a:hover {
    scale: 1.16;
    transition: scale 0.2s ease-in-out;
  }
}

.footer__bottom-donate {
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: var(--primary);
  color: #fff;
  text-transform: uppercase;
}

@media (prefers-reduced-motion: no-preference) {
  .main-nav {
    animation: slide-in 0.5s linear 1;
  }
}

@media (width>47.8125rem) {
  .main-header {
    padding: 0.25rem 8%;
  }

  .audio__group ul,
  .audio__list {
    grid-template-columns: repeat(2, 1fr);
  }

  .main__footer {
    --font-size: 1.2rem;

    display: grid;
    gap: 2rem;
    padding-inline: 6rem;
  }

  .footer__menu-contact {
    flex-direction: row;
    justify-content: space-between;
  }

  .menu-second ul {
    gap: 1.7rem;
  }

  .info-wrap {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width>=64rem) {
  .top-banner {
    display: block;
    background-color: #f7931e;
    font-weight: 300;
    letter-spacing: 0.0063rem;
    line-height: 1.25rem;
    font-family: var(--font-work-sans);
    font-style: italic;
    padding: 0.625rem;
    text-align: center;
    color: #fbf6ed;
  }

  .main-header__open-menu,
  .main-header__close-menu {
    display: none;
  }

  .main-nav {
    position: static;
    width: 70%;
    animation: none;
    max-width: none;
    background-color: inherit;
    color: #00356f;
    border-radius: 0;
    overflow: visible;
  }

  .main-nav.hidden {
    display: block;
  }

  .main-nav ul {
    flex-direction: row;
    align-items: center;
  }

  .main-nav ul li:last-child {
    margin-left: auto;
  }

  .main__footer {
    grid-template-columns: repeat(6, 1fr);
    justify-content: space-between;
    place-items: center;
    gap: 3rem;
    padding: 4rem 6rem;
  }

  .info-wrap {
    gap: 2rem;
    /* grid-column: span 2; */
  }

  .footer__subscribe {
    width: 100%;
    grid-column: span 4;
  }

  .footer__bottom {
    grid-column: span 6;
  }

  .footer__logo {
    flex-direction: column;
  }

  .menu-first li {
    text-wrap: nowrap;
  }

  .footer__bottom {
    width: fit-content;
  }

  .footer__bottom-socials {
    gap: 3rem;
  }

  p {
    font-size: 1.1rem;
  }

  .audio__group ul,
  .audio__list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    translate: 0;
    opacity: 1;
  }
}
