.hero__section {
  padding: 4rem 1rem;
  text-align: center;
  background: radial-gradient(rgba(181, 115, 76, 0.3) 1px, transparent 1px),
    linear-gradient(
      to right,
      rgb(199, 210, 254),
      rgb(254, 202, 202),
      rgb(254, 249, 195)
    );
  background-size: 12px 12px, cover;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  h1 {
    text-transform: uppercase;
    color: #00356f;
    font-size: 1.5rem;
  }
}

.about {
  background-color: blanchedalmond;
  padding: 6rem 1rem;
  text-align: center;

  p {
    font-size: 1.09rem;
    line-height: 1.6;
  }
}

.programs {
  margin-block: 3rem;

  h2 {
    text-transform: capitalize;
    text-align: center;
  }

  p {
    text-align: center;
  }
}

@media (width>= 47.8125rem) {
  .about {
    padding-inline: 6rem;
  }

  .hero__section {
    padding-inline: 3rem;
  }

  .programs {
    width: 90%;
    margin-inline: auto;
  }
}

@media (width >=64rem) {
  .about {
    padding-inline: 8rem;
  }

  .programs {
    width: 80%;
  }
}
