.hero__section {
  min-height: 80svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 1rem;
  gap: 3rem;
  margin-bottom: 4rem;

  h1 {
    text-transform: uppercase;
    color: transparent;
    background: linear-gradient(
      to right,
      rgb(153, 27, 27),
      rgb(202, 138, 4),
      rgb(234, 179, 8)
    );
    background-clip: text;
    font-size: 1.5rem;
    text-align: center;
    line-height: 1.7;
  }
}
