main {
}

h1 {
  text-transform: uppercase;
  text-align: center;
  padding-block: 2rem;
  letter-spacing: 0.1em;
  font-weight: 700;
  background: linear-gradient(
    to right,
    rgb(254, 240, 138),
    rgb(250, 204, 21),
    rgb(161, 98, 7)
  );
  background-clip: text;
  color: transparent;
}

.hero__section {
  width: 90%;
  margin-inline: auto;
  text-align: center;

  h2 {
    text-transform: capitalize;
    margin-bottom: 1rem;
  }

  a {
    text-decoration: underline;
    color: blue;
  }
}

/* FILES SECTION */

.files {
  width: 90%;
  margin-inline: auto;
  padding: 2rem;

  h3 {
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 2rem;
  }
}

.files__list {
  display: grid;
  gap: 3rem;
}

/* TABLET DESIGN */
@media (width >= 47.8125rem) {
  .files,
  .hero__section {
    width: 85%;
  }

  .files__list {
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  }

  .audio__card {
    min-width: 20rem;
  }
}
